{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur votre page profil{% endblock %}

{% block body %}

<div class="profil">
  <div >
    <img src="{{ asset('images/logo_profil.png') }}">
    <p>Nom : {{app.user.name|capitalize }}</p>
    <p>Prénom : {{app.user.firstname|capitalize }}</p>
  </div>
  <div>
    <h5>Vos information</h5>
    <p>Email</p> <p>{{app.user.email|capitalize }}</p>
    <a href="{{ path('app_mes_creneaux') }}" class="btn btn-primary">Voir mes creneaux</a>
  </div>
</div>
{% endblock %}
