{% extends 'base.html.twig' %}

{% block title %}Creneau index{% endblock %}

{% block body %}
    <h1>Creneau index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>Nb_participant</th>
                <th>Réservé par</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for creneau in planning.creneaux %}
            <tr>
                <td>{{ creneau.id }}</td>
                <td>{{ creneau.status ? 'Yes' : 'No' }}</td>
                <td>{{ creneau.dateDebut ? creneau.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ creneau.dateFin ? creneau.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ creneau.nbParticipant }}</td>
                <td>{{ creneau.author ? creneau.author.name : "" }}</td>
                <td>
                    <a href="{{ path('app_reserver_creneau', {'creneau': creneau.id}) }}">Réserver</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_creneau_new') }}">Create new</a>
{% endblock %}
